@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --BxSi:6px 6px 8px rgba(13,39,80, 0.25),
    -6px -6px 10px #fff,
    inset -8px -8px 12px rgba(255,255,255,0.7),
    inset 5px 5px 8px rgba(13,39,80,0.2);

    --PSD-3d:7px 7px 15px #45566754,
    -8px -8px 15px #5165790a,
    inset -5px -4px 13px 0px #51657959,
    inset 6px 7px 12px 0px #fffffff0; 

    --BxS:4px 4px 8px rgba(14,39,80,0.25),
    -4px 4px 8px #fff;
    --hoverS:-3px -3px 7px #a0a0a032,
    3px 3px 5px rgba(94,104,121,0.417);

    /*========== Colors ==========*/
    --ground: #e8eaec;
    --icon: #222;
    --icon-1: #000;
    --icon-2: rgba(0, 0, 0, 0.548);
    --button: #0b2543;
    --button-1: #212424;
    --button-2: #696a6a;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: var(--ground);
    
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --ground: #131419;
    --icon: #222;
    --icon-1: #fff;
    --icon-2: rgba(255, 255, 255, 0.979);
    --button: #f66a00;
    --button-1: #fff;
    --button-2: #f66a00;
    --BxSi:6px 6px 8px rgb(0 0 0 / 50%),
    -6px -6px 10px rgb(255 255 255 / 5%),
    inset -8px -8px 12px rgb(255 255 255 / 5%),
    inset 5px 5px 8px rgb(0 0 0 / 50%);
    --BxS:4px 4px 8px rgba(255 255 255/ 5%),
    -4px 4px 8px rgb(0 0 0 / 50%);
    --hoverS:-3px -3px 7px rgb(255 255 255 / 5%),
    3px 3px 5px rgb(0 0 0 / 50%);
    --PSD-3d:7px 7px 15px #0c0e10c9,
    -8px -8px 15px #14191dd1,
    inset -5px -4px 13px 0px rgb(0 0 0 / 52%),
    inset 6px 7px 12px 0px #1b1f23cf; 
}

/*========== Button Dark/Light ==========*/
.change__theme{
    position: absolute;
    margin-left: 6px !important;
    margin-top: -18px;
    color: var(--icon-1);
    cursor: pointer;
}


.iphone-x .screen{
    margin-top: 40px;
    width: 42%;
    height: 625px;
    background: var(--ground);
    box-shadow: var(--PSD-3d);
    margin: 0 auto;
    min-width: 310px;
    max-width: 310px;
    border-radius: 44px;
    padding: 10px;
}

.screen .notch{
    width: 159px;
    height: 30px;
    margin: 0px auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sound{
    top: 10px;
    left: 54px;
    width: 40px;
    height: 6px;
    position: relative;
    background: var(--icon);
    border-radius: 10px;
}

.camera{
    top: 2px;
    left: 110px;
    width: 10px;
    height: 10px;
    position: relative;
    background: var(--icon);
    border-radius: 10px;
}

.time{
    color: var(--icon-1);
    width: 60px;
    font-size: 11px;
    margin-top: -22px;
    background: transparent;
    margin-left: 18px;
}

.battery{
    margin-top: 20px;
}

.battery i{
    color: var(--icon-2);
    margin-left: 230px !important;
}

.wifi{
    margin-top: -22px !important;
    margin-left: 260px;
}

.wifi i{
    color: var(--icon-2);
    margin-top: -20px;
}

.top-nav{
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.area{
    min-width: 50% !important;
    width: 93% !important;
    min-height: 120px !important;
    margin-left: -5px;
    margin-top: -15px;
    font-size: 30px !important;
    text-align: center;
    text-align: right;
    overflow: scroll;
    outline: none;
    border: none;
    font-weight: bold;
    background: var(--ground);
    color: var(--button-1);
    border-radius: 10px;
    padding: 12px;
    box-shadow: var(--BxSi)
}

.calculator{
    margin: 0;
    box-sizing: content-box;
}

.key{
    float: left !important;
    font-size: 15pt;
    display: flex !important;
    margin: -5%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.first-col,
.second-col,
.third-col,
.fourth-col,
.fifth-col{
    padding: 10px;
    white-space: wrap;
    margin: -9.5px;
    display: inline-block;
    margin-top: 20px !important;
    justify-content: space-between !important;
}

.button{
    display: block;
    padding-left: 40px;
    min-height: 40px;
    padding-right: 30px;
    white-space: wrap;
    word-wrap: break-word;
    margin-top: 20px;
    justify-content: space-between !important;
}

button{
    position: relative;
    margin-left: -54px !important;
    min-width: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    background: transparent;
    color: var(--button-1) !important;
    border: none !important;
    border-radius: 10px !important;
    height: 45px;
    outline: none;
    font-weight: bold !important;
    font-size: 14pt !important;
    box-shadow: var(--BxS)
}

.btn-work{
    color: var(--button) !important;
}

.btn-equal{
    color: var(--button) !important;
    height: 120px !important;
}

button:focus{
    cursor: pointer;
    outline: none !important;
    border: none !important;
}

button:active{
    box-shadow: var(--hoverS);
    outline: none !important;
    border: none !important;
}

button:hover{
    color: var(--button-2) !important;
}

.btn-work:hover,
.btn-equal:hover{
    color: var(--button) !important;
}

.home{
    margin-top: 365px;
    margin-left: 72px;
    font-size: 30px;
    cursor: pointer;
    color: var(--button);
}

.menu{
    margin-top: 372px;
    margin-left: -275px;
    font-size: 20px;
    cursor: pointer;
    color: var(--button);
}

.back{
    margin-top: 372px;
    margin-left: 75px;
    font-size: 20px;
    cursor: pointer;
    color: var(--button);
}

/*========== Media queries ==========*/
@media screen and (min-width: 1024px) {
    .iphone-x .screen{
        margin-top: 1em;
        height: 475px;
    }
    .top-nav{
        height: 25px;
    }
    .area{
        min-height: 10px !important;
    }
    .first-col, .second-col, .third-col, .fourth-col, .fifth-col {
        margin-top: 10px !important;
    }
    .button{
        margin-top: 10px;
        
    }
    button{
        height: 30px;
        font-size: 12pt !important;
    }
    .btn-equal{
        height: 80px !important;
    }
    .back{
        margin-top: 276px;
    }
    .home{
        margin-top: 270px;
    }
    .menu{
        margin-top: 276px;
    }
}

@media screen and (min-width: 767px) {
    .iphone-x .screen{
        margin-top: 1em;
        height: 490px;
    }
    .top-nav{
        height: 30px;
    }
    .area{
        min-height: 10px !important;
       
    }
    .first-col, .second-col, .third-col, .fourth-col, .fifth-col {
        margin-top: 10px !important;
    }
    .button{
        margin-top: 10px;
        
    }
    button{
        height: 30px;
        font-size: 12pt !important;
    }
    .btn-equal{
        height: 80px !important;
    }
    .back{
        margin-top: 276px;
    }
    .home{
        margin-top: 270px;
    }
    .menu{
        margin-top: 276px;
    }
}

@media screen and (min-width: 480px) {
    .iphone-x .screen{
        margin-top: 20px;
        height: 470px;
    }
    .top-nav{
        height: 20px;
    }
    .area{
        min-height: 80px !important;
    }
    .first-col, .second-col, .third-col, .fourth-col, .fifth-col {
        margin-top: 10px !important;
    }
    .button{
        margin-top: 10px;
        
    }
    button{
        height: 30px;
        font-size: 12pt !important;
    }
    .btn-equal{
        height: 80px !important;
    }
    .back{
        margin-top: 276px;
    }
    .home{
        margin-top: 270px;
    }
    .menu{
        margin-top: 276px;
    }
}

@media screen and (min-width: 320px) {
    .iphone-x .screen{
        margin-top: 20px;
        height: 470px;
    }
    .top-nav{
        height: 25px; 
    }
    .area{
        min-height: 10px !important;
        padding: 4px;
    }
    .fi
rst-col, .second-col, .third-col, .fourth-col, .fifth-col {
        margin-top: 10px !important;
    }
    .button{
        margin-top: 10px;
        
    }
    button{
        height: 32px;
        font-size: 12pt !important;
    }
    .btn-equal{
        height: 80px !important;
    }
    .back{
        margin-top: 270px;
    }
    .home{
        margin-top: 265px;
    }
    .menu{
        margin-top: 270px;
    }
}